%h2.page-header Recent Events
%p To see more information please click on the Event Name


%table.table
  %thead
    %tr
      %th{:scope => "col"} Event Name
      %th{:scope => "col"} Provider
      %th{:scope => "col"} Spots Left
      %th{:scope => "col"} Allows Waitlist?
      %th{:scope => "col"} Price
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event["title"].capitalize}", event["web_url"]
        %td= event["provider"]["name"]
        %td= event["available_spots"]
        %td= boolean_formatter(event["allows_waitlist"])
        %td= formatted_price(event["price"])
